/* .container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .phoneBook {
  background-color: rgba(240, 248, 255, 0.475);
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
} */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h1 {
  color: rgb(139, 224, 163);
}

span {
  color: rgb(16, 128, 47);
}

.description {
  margin: 10px;
  color: rgb(16, 128, 47);
}

p {
    color: rgb(16, 128, 47);
}

.btnHome {
  font-size: 14px;
  border-radius: 10px;
  color: white;
  background-color: rgb(139, 224, 163);
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btnHome:hover {
  background-color: rgb(16, 128, 47);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.phones {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  gap: 40px;
}

.phone1 {
  border: double green 4px;
  color: white;
  text-align: center;
  /* margin-top: 30px; */
  font-size: 14px;
  border-radius: 15px;
  background-color: white;
  width: 150px;
  height: 250px;
  transform: rotate(-10deg);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.phone2 {
  border: double white 4px;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  background-color: rgba(16, 128, 48, 0.792);
  width: 150px;
  height: 250px;
  transform: rotate(-10deg);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.phone2 > p {
  color: white;
}

.details1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(16, 128, 48, 0.792);
  width: 150px;
  height: 30%;
}

.details2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 128, 47);
  font-size: 14px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white;
  width: 150px;
  height: 30%;
}

h3 {
  font-size: 15px;
}
