.contactList {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  }

ul {
    margin: 10px;
  gap: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.noContacts {
  font-size: 12px;
}

.request {
  background-color: #6a7dfb;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
