.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: 700;
  font-size: 16px;
  color: rgba(12, 107, 39, 0.975);
}

button {
  background-color: transparent;
  border: none;
  padding-right: 32px;
}

.logoutIcon {
   fill: white;
  background-color: rgb(21, 208, 74);
  margin-top: 6px;
  padding: 6px;
  border: none;
  cursor: pointer;
  width: 23px;
  transition: fill 0.3s, background-color 0.3s, box-shadow 0.3s;
  border-radius: 50%;
}

.logoutIcon:hover {
  background-color: rgb(16, 128, 47);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
